{% extends 'base.html' %}
{% import '_macro.html' as ui %}
{% block body_part %}
    <!-- {% block title %}{{title_name}}{% endblock %} -->
    {% block content %}
    <!-- <div class="page-header">
        <div class="container">
            <h1>Welcome</h1>
        </div>
    </div>

    <div class="container">
        {{ui.input("username")}}
        {{ui.input("password", type="password")}}
    </div> -->

    <!-- <div>
        <img src="{{url_for('static', filename='images/earth.jpg')}}">
    </div> -->
    {% endblock content%}

{% endblock %}






